{extends layout.latte}

{block title}Web-o-anime{/block}

{block body}
    <main bgcolor="#ebfffb">

        <article><header><h1 align="center" style="color: #3161a3; text-transform: uppercase"> Gabčina stránka o Anime </h1></header></article>

        <div class="text-center" role="group" aria-label="Tlačítka">
            <a href="index.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" >Gabi</a>
            <a href="Letadla.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Letadla</a>
            <a href="Cestování.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Cestování</a>
            <a href="Anime.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Anime </a>
            <a href="Paleta.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Paleta </a>
            <a href="index-formular.php" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Formulář </a>
            <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" > Repozitář </a>
        </div>
        <hr>
        <div class="obsah">
            <div class="leva-strana">
                <main>
                    <article>
                        <h2 style="text-transform: uppercase; color: #3161a3; font-family: Arial; font-size: 1.5em"> Proč stránka o anime ? </h2>
                        <h4 style="font-family: 'Times New Roman'"> Stránku o anime jsem si zvolila, protože anime je mi blízké téma a ráda se na něj dívám, stejně tak jako čtení mangy, což jsou zase komixy podle, kterých je většina anime vytvořena.</h4>
                        <h4 style="font-family: 'Times New Roman'"> Takže bych si ráda o anime udělala podstránku a trochu se pobavit o tom jak jsem se k němu dostala a jak jsem se díky tomu ještě více sblížila s japonskou kulturou - ale nejsem kompletně weeb, ok ?</h4>
                    </article>
                    <article>
                        <h2 style="text-transform: uppercase; color: #3161a3; font-family: Arial; font-size: 1.5em"> Jak jsem začala sledovat anime ? </h2>
                        <h4 style="font-family: 'Times New Roman'"> Anime jsem začala sledovat jako malá a tím nemyslím zrovna Pokémony a tak podobně, byly tu i jiné věci, ale nikdy jsem netušila, že to spadá pod to "anime" u know. Prostě jsem viděla série jako Sailor Moon, Death Note a Naruta, prostě to co naše úžasné televizní stanice zvládli nadabovat, ale nebudu tady psát o kvalitě toho dabingu to je na vašem osobním názoru.</h4>
                        <h4 style="font-family: 'Times New Roman'"> Ten moment kdy jsem tomu propadla (sounds like a drug story) bylo někdy v roce 2014, prostě 6.třída víc nevím a začala jsem koukat takovou tu nejznámnější splodinu co byla v momentu trendy AF, takže tam byl Tokyo Ghoul, Mirai Nikki, Akame ga Kill a prostě všechna anime ročníku 2013-14 + nějaké iconic věci z předešlých roků. Jako co říct jela jsem na tom od rána do večera u předmětů, které jsem chápala na 90% jsem dropla na chápání na 50% a s tím i ty známky takže doma z toho taky poprask jak prase a ve škole jsem byla za cituji "zku***ýho nerda" a debílka co není taký šprt co býval - takže mé nízké seběvědomí z toho bylo na pokraji zhroucení a začala jsem se výžírat a extrémně uzavírat do sebe a to mi zůstalo do dnes bez toho úžírání se. </h4>
                        <h4 style="font-family: 'Times New Roman'"> Bylo to těžké takže potom jsem nikomu neříkala co sleduji co dělám atd... . No uběhly nějaké ty roku a nastala 8.třída a lidi co mě dissovali jakože ´dissovali´ chtěli sledovat taky, takže to byla sranda (celkem, ale dost smutná). Jinak jsem za tu dobu zkoukla něco přes 100 anime titulů, dala bych i link na všechny, no bohužel já moudrá sova jsem nevěděla o existenci My Anime Listu, takže jsem si vše ukládala na Shiraii a ten stejně nějak v roce 2017 skončil, kvůli autorské legislativě od EU, takže moje prosezené hodiny u PC byli k ničemu, protože nemám žádný důkaz o tom, že jsem viděla nebo rozkoula to a to a já si taky prd pamatuji, takže kyž se mě někdo zeptá na nějaké anime o jemž jsem se nebavila +-2 roky tak si z něj skoro nic nepamatuji, kvůli objemu v kterém jsem dříve sledovala.</h4>
                        <h6 style="font-family: 'Times New Roman'; font-style: italic; font-weight: bolder">Fun fact: </h6>
                        <h6 style="font-family: 'Times New Roman'; font-style: italic"> Borec co mě dissoval/hejtil nejvíc byl můj ex, ale jelikož je tu GDPR tak ho nemohu jmenovat a dát zde na něj link, jelikož je to podivuhodná kreatura ke které čichnete jednou a to ze zvědavosti. No jde me zpět k tomu co chci, jak on do mě jel tak zrovna on byl ten, který chtěl ode mě nejvíc doporučení na další anime co může shlédnout, ironie jak sviň. Když jsem před asi 7 měsíci navštívila jeho anime list, tak tam byl samý harém a hentai, nevím proč jsem se divila, nejspíš je to protože by mu holka z masa a kostí, žijící v normálním neanime světě nedala pozvánku do své ´tajemné komnaty´, pokud by na ní bylo ještě co tajného. Včera jsem ho viděla na ulici a vypadá hůř než lidi co znám a jsou na tvrdých - škoda nebo sláva nevím, netuším - nejspíš to je jedno...</h6>
                    </article>
                    <article>
                        <h2 style="text-transform: uppercase; color: #3161a3; font-family: Arial; font-size: 1.5em"> Moje zkušenost s anime ? </h2>
                        <h4 style="font-family: 'Times New Roman'">Moje zkušenosti s anime jsou velmi dobré, velmi pozitivní. Dozvěděla jsem se jak to třeba chodí v japonsku (když si odkreslím to zkreslení reality), naučila jsem se kvákat nějaké věci po japonsku (ale stejně jsem půlku toho zapomněla), měla jsem díky některým dobře napsaným postavám dočasné fiktivní role-modely, které mě motivovali k různým věcem a hlavně mi to pomohlo rozšířit mojí fantasii, ale zároveň nějakým způsobem respektovat věci co mě tahají za vlasy (nebo jak se to říká v běžné lidské řeči).</h4>
                        <h4 style="font-family: 'Times New Roman'"> Díky anime jsem se i sblížila s mnoha lidmy, pomohlo mi to i pár vztazích u nás ve třídě, protože otaku člověk na to slyší jak pes na aport. Díky tomu jsem měla možnost navštívit i zajímavé akce, workshopy a je to prostě úžasné, ikdyž mě to uzamyká do jednoho malého světa nechci z toho pryč, jelikož - já nevím je to nepopsatelné, je to pocit, který se musí prožít na tělo a díky těmto zkušenostem jsem třeba o dost šťatnější.</h4>
                        <h4 style="font-family: 'Times New Roman'"> Prostě bych to ukončila tím, že mi tato komunita dala něco o čem jsem nevěděla, že existuje aže jsem to možná vnitřně potřebovala, abych mohla ukázat své skutečné barvy a to že jsem i bez toho všeho weirdo a nestydím se za to, jo to bude asi ono ;D </h4>
                    </article>
                    <article>
                        <h2 style="text-transform: uppercase; color: #3161a3; font-family: Arial; font-size: 1.5em"> Moje oblíbené anime ? </h2>
                        <h4 style="font-family: 'Times New Roman'"> Oblíbené anime je velmi těžké, jelikož se příčky a věci u mě mění rychleji jak ve stratosféře. V zásadě by se zde dalo počítat každé anime co jsem dokoukala do maximálně 5 dní, nebo celkově nějak dokoukané. Když anime nedokoukám, znamená to dvě věci plot mě nakonec přestal zajímat, nebo postavy jsou nezáživné, nebo mi prostě něco do toho vlétlo a stala jedna z předchozích příčin proč to není dokoukané.</h4>
                        <h4 style="font-family: 'Times New Roman'"> Ale když to shrnu tak jsou to v zásedě jedny z mých prvních anime co jsem viděla, takže tady je list, bohužel nemá příčky, protože bych to musela přepisovat každý týden minimálně: </h4>
                        <ul>
                            <li><h4 style="font-family: 'Times New Roman'"> Death Note </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> Akame ga Kill </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> Kimetsu no Yaiba </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> Noragami </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> Jojo Kimyou Na Bouken </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> Kuroshitsuji </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> Shingeki no Kyojin </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> Youjo Senki </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> One Punch Man </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> No Game No Life </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> No.6 </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> Yuri on Ice </h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> Kobayashi-san Chi no Maid Dragon</h4></li>
                            <li><h4 style="font-family: 'Times New Roman'"> Blend S </h4></li>
                        </ul>
                    </article>

                </main>
            </div>
        </div>
        <hr>
        <div class="btn-group" role="group" aria-label="Tlačítka">
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'"> Odkaz na stránku o mě:<a href="index.html" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Web o Gabi </a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman' ">Odkaz na mojí stránku o letadlech:<a href="Letadla.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Letadla</a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'">Odkaz na mojí stránku o cestování:<a href="Cestování.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Cestování</a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'">Odkaz na stránku o výběru palety:<a href="Paleta.html" class="btn btn-secondary btn-sm ; btn-light" role="button" aria-pressed="true"> Paleta </a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'">Odkaz na stránku s webovým formulářem:<a href="index-formular.php" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Formulář </a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'"> Odkaz do mého repozitáře: <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true" > Repozitář </a></h6>
        </div>
{/block}