{extends layout.latte}

{block title}Web-o-cestovani{/block}

{block body}
    <main bgcolor="#ebfffb">

        <article><header><h1 align="center" style="color: #3161a3; text-transform: uppercase"> Gabčina stránka o cestování </h1></header></article>

        <div class="text-center" role="group" aria-label="Tlačítka">
            <a href="index.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" >Gabi</a>
            <a href="Letadla.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Letadla</a>
            <a href="Cestování.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Cestování</a>
            <a href="Anime.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Anime </a>
            <a href="Paleta.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Paleta </a>
            <a href="index-formular.php" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Formulář </a>
            <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" > Repozitář </a>
        </div>

        <hr>
        <div class="obsah">
            <div class="leva-strana">
                <main>
                    <hr>
                    <h1 style="color: #3161a3 ;font-family: Arial; font-size: 2em; text-transform: uppercase" align="center"> Ahoj! Vítej na mé stránce o cestování(＾▽＾)</h1>
                    <h3 style="font-size: 1.5em; font-family: Arial; text-transform: uppercase" align="center"> Budou tady informace o mých cestách a nějaké mé osobní doporučení (ᵔ.ᵔ)</h3>
                    <hr>
                    <article>
                        <h2 style="color: #3161a3; font-family: Arial; font-size: 1.5em; text-transform: uppercase; font-weight: bold"align="center"> Proč zrovna stránka o cestování?</h2>
                        <h4 style="font-family: 'Times New Roman'"> Stránku o cestování jsem si vybrala, protože cestování je můj koníček (pokud se tomu tak dá říkat). Ráda cestuji s taťkou, ono vlastně s nikím jiným se ani zatím nedá, jelikož mamka neumí anglicky a je spíš typ na ležení u pláže. Jinak si myslím, že jsem už na pár nějakých zajímavých místech byla, takže i proto bych to sem zařadila, ale no flex :D</h4>
                        <article>
                            <h2 style="color: #3161a3; font-family: Arial; font-size: 1.5em; text-transform: uppercase; font-weight: bold" align="center"> Které země jsem už navštívila? </h2>
                            <h4 style="font-family: 'Times New Roman'"> Už jsem navštívila pár zemí jak jsem se zmínila, tak je tady vypíšu do malého seznamu :)</h4>
                            <ul>
                                <li style="font-family: 'Times New Roman'; font-weight: bolder"> Egypt </li>
                                <li style="font-family: 'Times New Roman'; font-weight: bolder"> Řecko a přilehlé ostrovy </li>
                                <li style="font-family: 'Times New Roman'; font-weight: bolder"> Turecko </li>
                                <li style="font-weight: bolder; font-family: 'Times New Roman'"> Izrael </li>
                                <li style="font-family: 'Times New Roman'; font-weight: bolder"> Jižní Korea a přilehlý ostrov Jeju</li>
                            </ul>
                        </article>
                        <article>
                            <h2 style="color: #3161a3; font-family: Arial; font-size: 1.5em; text-transform: uppercase; font-weight: bold" align="center"> Které země bych chtěla navštívit? </h2>
                            <h4 style="font-family: 'Times New Roman'"> No, jelikož jsem velmi skromný člověk tak bych si vystačila se všemi zeměmi, které jsem nenavštívila. Dobře ,ale teď seriózněji. Nejvíce jsem si asi zamilovala Asii, takže bych chtěla projet severovýchodní a jihovýchodní asii hlavně. Bohužel s aktuální situací se bojím, že splnit si tento sen bude náročnšjší, hlavně finančně. Moc bych si totiž do budoucna přála abych mohla i já vzít tatku někam, hlavně do té asie, protože jí oba milujeme.</h4>
                            <p style="font-family: 'Times New Roman'; font-size: 1.2em; text-transform: uppercase; font-weight: bolder"> Tohleto jsou hlavní země , které chci navštívit :</p>
                            <ol>
                                <p style="font-size: 1.2em; font-family: Arial; font-weight: bold"> Asie</p>
                                <ul>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Filipíny </li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Srí Lanku </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Barmu (Myanmar) </li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Kambodžu </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Bangladéš </li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Singapur </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Vietnam </li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Malajsii </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Indonésii </li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Japonsko </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Čínu </li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Jižní Koreu </li>
                                </ul>
                                <p style="font-weight: bold; font-size: 1.2em; font-family: Arial"> Austrálie a oceánie</p>
                                <ul>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Austrálie </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Nový Zéland</li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> tasmánii</li>
                                </ul>
                                <p style="font-family: Arial; font-weight: bold; font-size: 1.2em"> Amerika </p>
                                <ul>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> USA </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Mexiko </li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Kanadu </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Brazílii </li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Argentinu </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Bahamy </li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Kubu</li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Portorico </li>
                                    <li style=" font-weight: bolder; font-family: 'Times New Roman'"> Havaj </li>
                                </ul>
                                <p style="font-family: Arial; font-weight: bold; font-size:1.2em"> Evropa </p>
                                <ul>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Rusko </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Skandinávské státy -Norsko, Finsko, Švédsko </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Země pobaltí - Litva, Lotyšsko, Estonsko</li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Polsko </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Rakousko </li>
                                    <li style ="font-weight: bolder; font-family: 'Times New Roman'"> Madarsko</li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Bosnu a Hercegoviu</li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Itálii </li>
                                    <li style="font-family: 'Times New Roman'; font-weight: bolder"> Španělsko </li>
                                    <li style="font-weight: bolder; font-family: 'Times New Roman'"> Francii </li>
                                </ul>
                                <p style="font-weight: bold; font-family: Arial; font-size: 1.2em"> Afrika </p>
                                <li style="font-family: 'Times New Roman'; font-weight: bolder"> Maroko </li>
                                <li style="font-weight: bolder; font-family: 'Times New Roman'"> Etiopii </li>
                                <li style="font-family: 'Times New Roman'; font-weight:bolder"> Madagaskar </li>
                                <li style="font-family: 'Times New Roman'; font-weight: bolder"> Jihoafrickou republiku</li>
                            </ol>
                        </article>
                        <article>
                            <h2 style="color: #3161a3; font-family: Arial; font-size: 1.5em; text-transform: uppercase; font-weight: bold"align="center"> Jak velká zavazadla používám? A proč díky tomu šetřím na jejich ceně?</h2>
                            <h4 style="font-family: 'Times New Roman'"> Vysloveně používám batohy - je k tomu jednoduchý důvod. Naše cestování je takové "lehké", tím myslím to, že naházíte pár triček, plavky, kratasy, kalhoty,boty na přezutí, základní věci z kosmetiky a hygieny a ručník. To stále moc nesvysvětluje ten batoh, že ? Batoh je výhodný, jelikož je skladnější a praktičtější na cestování, neponičí se tolik jako kufry, při situaci toho jak se zavazadly nakládá na letištích a hlavně je lehčí. Dobrý kufr co něco vydží má skoro kilo, zatímco batoh má pár stovek gramů a pokud chcete potom něco vyvážet, tak se každý gram hodí, nevíte na koho na letišti natrefíte.</h4>
                            <h4 style="font-family: 'Times New Roman'"> Ušetřit na ceně můžete tak, že nekupujete ty nejlevnější letenky natrhu např: Ryanair, EasyJet, WizzAir atd... Je to lepší, protože nemají žádná zavazadla v ceně a po nových reformách se pomalu bude platit i za kabaelku na rameno. Když se koupí letenka o 500 Kč dražší na osobu tak je o dost větší pravděpodobnost, že máte i podpalubní zavazadlo v limitu mezi 15-23 kg a to se vyplatí, možná budete mít i servis na palubě, záleží na aerolince a její finanční situaci. </h4>
                            <h4 style="font-family: 'Times New Roman'"> Takže na konec šetřím na ceně, protože si předem prověřuji podmínky a produkty zahrnuté v ceně - což by vám měl každý server ukazovat pokud ne, není ani pravděpodobně spolehlivý a je to scam - almost everything is scam. Proto není nikdy na škodu dát obzvláště u letecké dopravy o nějakou tu korunu navíc, jelikož zavazadla samostaně stojí více jak vaše letenka u nízkonákladových společností i u těch někde uprostřed.</h4>
                        </article>
                        /*   fotky budou příště, sorry ;(    */
                </main>
            </div>
        </div>

        <hr>

        <h1 style="color: #3161a3; font-size: 1.5em; font-family: Arial; text-transform: uppercase" align="center"> Konec stránky o cestování děkuji ti za návštěvu ╰(▔∀▔)╯ </h1>
        <h2 style="font-weight:bold; font-family: 'Times New Roman'; font-size: 1.5em"> Odkazy na další stránky: </h2>
        <div class="btn-group" role="group" aria-label="Tlačítka">
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'">Odkaz na  stránku o mě:<a href="index.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Web o Gabi</a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'">Odkaz na mojí stránku o letadlech:<a href="Letadla.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Letadla</a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'"> Odkaz na mojí stránku o anime:<a href="Anime.html" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Anime </a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'">Odkaz na stránku o výběru palety:<a href="Paleta.html" class="btn btn-secondary btn-sm ; btn-light" role="button" aria-pressed="true"> Paleta </a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'">Odkaz na stránku s webovým formulářem:<a href="index-formular.php" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Formulář </a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'"> Odkaz do mého repozitáře: <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true" > Repozitář </a></h6>
        </div>
{/block}