{extends layout.latte}

{block title}Web-s-formulářem{/block}

{block body}
<?php
mb_internal_encoding("UTF-8");

$hlaska = '';
if ($_POST) // V poli _POST něco je, odeslal se formulář
{
    if (isset($_POST['jmeno']) && $_POST['jmeno'] &&
        isset($_POST['email']) && $_POST['email'] &&
        isset($_POST['zprava']) && $_POST['zprava'] &&
        isset($_POST['rok']) && $_POST['rok'] == date('Y'))
    {
        $hlavicka = 'From:' . $_POST['email'];
        $hlavicka .= "\nMIME-Version: 1.0\n";
        $hlavicka .= "Content-Type: text/html; charset=\"utf-8\"\n";
        $adresa = 'gabriela.stiburkova@educanet.cz';
        $predmet = 'Nová zpráva z mailformu(Gabi)';
        $uspech = mb_send_mail($adresa, $predmet, $_POST['zprava'], $hlavicka);
        if ($uspech)
        {
            $hlaska = 'Tvůj e-mail se podařilo úspěšně odeslat.';
        }
        else
            $hlaska = 'Tvůj e-mail se bohužel nepodařilo odeslat. Zkontroluj si zadané údaje a zkus to znovu.';
    }
    else
        $hlaska = 'Tvůj formulář nebyl správně vyplněný. Oprav si své chyby !';
}

?>

<body>
<div class="page">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{link index}">Web k výuce</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{link index}">Hlavní stránka</a>
                    <a class="nav-item nav-link" href="{link kontakt}">Formulář</a>
                </div>
            </div>
        </nav>

        <div class="container">

            <h1 style="font-weight: bold">Kontakt</h1>
            <p style="font-family: 'Times New Roman'">Gabriela Stibůrková<br>
                E-mail: gabriela.stiburkova@educanet.cz<br>
            </p>

            <h2 style="font-weight: bold">Kontaktní formulář</h2>
            <p>Pokud mě chceš kontaktovat přímo tady z webu, využij následující formulář níže.</p>

            <?php
            if ($hlaska)
                echo('<p>' . $hlaska . '</p>');
            ?>

            <form method="POST">
                <table>
                    <tr>
                        <td style="font-weight: bolder">Zde zadej své jméno</td>
                        <td><input name="jmeno" type="text" /></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bolder">Zde zadej svůj e-mail</td>
                        <td><input name="email" type="email" /></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bolder">Zde napiš jaký je nyní rok?</td>
                        <td><input name="rok" type="number" /></td>
                    </tr>
                </table>
                <textarea name="zprava"></textarea><br />

                <input type="submit" value="Odeslat" />
            </form>

        </div>
    </div>
</div>
{/block}