{extends layout.latte}

{block title}Web-o-letadlech{/block}

{block body}
    <main bgcolor="#ebfffb">
        <hr>
        <article><header><h1 align="center" style="color: #3161a3; text-transform: uppercase"> Gabčina stránka o letadlech </h1></header></article>
        <hr>
        <div class="text-center" role="group" aria-label="Tlačítka">
            <a href="index.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" >Gabi</a>
            <a href="Letadla.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Letadla</a>
            <a href="Cestování.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Cestování</a>
            <a href="Anime.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Anime </a>
            <a href="Paleta.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Paleta </a>
            <a href="index-formular.php" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Formulář </a>
            <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" > Repozitář </a>
        </div>
        <hr>
        <div class="obsah">
            <div class="leva-strana">
                <main>
                    <h1 style="color: #3161a3;font-weight: bold; font-family: Arial; font-size: 2em" align="center">Ahoj! Vítej na mé stránce o letadlech (＾▽＾)</h1>
                    <h3 style="color: #3161a3; font-weight: bold; font-family: Arial; font-size: 1.5em" align="center">Budou se zde vyskytovat informace o mých oblíbených letadlech a aerolinkách, ale stránka je stále v procesu tvoření :D</h3>
                    <hr>
                    <article>
                        <h2 style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 1.5em" align="center">Proč zrovna stránka o letalech?</h2>
                        <h4 style="font-family: 'Times New Roman'"> Stránku o letadlech jsem si zvolila,protože mám ráda letadla už od té doby co jsem byla malá. Nikdy mě nepřestala udivovat a je to podle mě nejúžasnější stroj s tou nejúžasnější mechanikou na světě od motorů až po trup a kormidlo. </h4>
                    </article>
                    <article>
                        <h2 style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 1.5em" align="center">Jaké mám oblíbené typy letadel? </h2>
                        <h4 style="font-family: 'Times New Roman'"> Mé oblíbené typy jsou ty dopravní od Airbusu(Francie), Boeingu(USA), Bombardieru(Kanada), Embraer(Brazílie), nejspíš je to protže do těch vojenských nebudu mít šanci v životě vstoupit :D</h4>
                        <h4 style="font-family: 'Times New Roman'; font-weight: bold"> Moje nejoblíbenější jsou:</h4>
                        <ol>
                            <li style="text-transform: uppercase; font-weight: bold; font-family: Arial"> Boeing 747-400</li>
                            <h5 style="font-family: 'Times New Roman'"> Tento Boeing má dalších pár verzí, ale má nej je ta 400, ostatní jsou -100/200/300/SP/8i a verze s F jsou určeny pro Cargo. Tohle letadlo je legenda a říká se mu"Queen of the Sky", tento rok bude mít 51.výročí. </h5>
                            <li style="text-transform: uppercase; font-family: Arial; font-weight: bold"> Airbus 300-600</li>
                            <h5 style="font-family: 'Times New Roman';" > Legendární první stroj s dílny Airbusu, který měl menší problém se uchytit, ale byl jeden z nejlepších svého času, šlo o širokotrupé letadlo s dvěma proudovými motory, které získalo na popularitě díky evropským společnostem a americkému Pan Am (r.i.p.), jeho zmenšená verze nesla název A310.</h5>
                            <li style="text-transform: uppercase; font-weight: bold;font-family: Arial"> Airbus 340-600 </li>
                            <h5 style ="font-family: 'Times New Roman'"> Tento Airbus je největší na délku ve své historii, je delší než dvoupatrová 380 , jeho délka je 75,30 metrů, pohání ho 4 motaory Rolls Royce Trent 556 a každý z nich má tah 249 KN, bohužel toto letadlo se pomalu vyřazuje.</h5>
                            <li style="text-transform: uppercase; font-family: Arial; font-weight: bold"> Boeing 707</li>
                            <h5 style="font-family: 'Times New Roman'"> Tohle letadlo tu je jen z jednoho hlavního důvodu je to první letadlo s tyskovými motory od Boeingu a celkově patří mezi první úspěšné stroje s tímto typem motorů, je velmi podobný stroji McDonell Douglas 8 a.k.a. DC 8.</h5>
                            <li style="text-transform: uppercase; font-family: Arial; font-weight: bold"> McDonell Douglas 10 / DC 10</li>
                            <h5 style="font-family: 'Times New Roman'"> Tohle bylo ikonické leteadlo z toho důvodu, že bylo velmi speciální svými třemi motory, kdy 2 byly na křídlech a jeden byl zasazen na ocasní části ve spod kormidla, bylo to i velmi skadální letadlo, protože mělo problém s dveřmi od cargo prostoru, které zapříčinili mnoho neštastných nehod se strátami na životech. Později se i zjistilo, že mělo problematickou hydrauliku, tyto letadla dnes létají u splečností jako je FedEx. </h5>

                            <p style="text-transform: uppercase; font-family: Arial; font-size: 1.5em"> Všechna tato letadla jsou širokotrupá, kromě modelu Boeing 707 a DC 8</p>
                        </ol>
                    </article>
                    <article>
                        <h2 style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 1.5em" align="center">Jaké mám ráda aerolinky? </h2>
                        <h4 style="font-family: 'Times New Roman'; font-weight: bold"> Všechny aerolinky co zmíním mám bud´ vyzkoušené nebo jsou na brzském seznamu </h4>
                        <h4 style="font-family: Arial; font-weight: bold"> ČSA </h4> <h4 style="font-family: 'Times New Roman'"> Samozřejmě mám velmi ráda naše aerolinky (ČSA), ale musím uznat, že postupem let zažili downgrade, kvůli tomu pánovi co ted´ vede Spartu nebo nějaký ten fotbalový tým co stejně stojí za starou belu, ale i tak mají u mě speciální místo a když mají výhodnou nabídku tak vždy s němi ráda letím.</h4>
                        <h4 style="font-family: Arial; font-weight: bold"> LOT </h4><h4 style="font-family: 'Times New Roman'"> Další aerolinky co mám velmi ráda jsou polské LOT, LOT je plus mínus stará jak ČSA, ale byli to schopní dotáhnout dál. Velmi ráda mám jejich servis a ceny - jinak řečeno celkový produkt je úžasný za ceny co mají u letenek. Letadla mají v dobrém stavu a čisté. Servis v ekonomické třídě se liší podle délky letu samozřejmě a taky na druhu trasy ,a le nikdy si není na co stěžovat. Líbí se mi tako to, že stále mají kufry v ceně na všech linkách což se o slavné Lufhanse nedá říct :) </h4>
                        <h4 style="font-family: Arial; font-weight: bold"> Qatar </h4><h4 style="font-family: 'Times New Roman'"> Dále je tu i Qatar Airways, k tomu se nedá nic jiného říct než wow, já u nich zatím neletěla, ale táto několikrát a nelze je vynachválit, vše je u nich perfektní, jediný problém je možná to, že nemají tak dobré jídlo jako AirFrance, LOT, Aeroflot atd..., jinak chci jejich uniformu také :D</h4>
                        <h4 style="font-family: Arial; font-weight: bold"> Korean Air </h4><h4 style="font-family: 'Times New Roman'"> Korean Air - jsou na mém seznamu , který je zabržděn Covidem 19 (kurnik, nesnáším rare řízky z netopírů a nedovařené polívky z Wu-chanu), je to jedna z asiských aerolinek, které létá  nám a obsluhuje linku PRG-ICN a jejich servis je velmi dobrý, jelikož chtějí vést svoji strategii podbně jako Pan Am a daří se jim to, jenom ty ceny trochu ničí bankovní konto někdy, ale co bych neudělala pro let Jumbojetem.</h4>
                        <h4 style="font-family: Arial; font-weight: bold"> Jin Air </h4><h4 style="font-family: 'Times New Roman'"> Jin Air - je to sice dceřiná společnost Korean Air, ale jejich ceny a produkt celkově mě nadchly, jsou low cost, ale jejich personál je super milý a ceny servisu na palubě jsou poloviční oproti těm našim evropským, jejich flotila je starší a skládá se z vyřazených letadel Korean Air, ale jsou super, mají dokonce v ceně letenky i objemná zavazadla- takže nejde si nestěžovat</h4>
                    </article>
                    <article>
                        <h2 style="color: #3161a3; text-transform: uppercase; font-family: Arial;font-size: 1.5em" align="center">S jakými typy letadel už jsem letěla?</h2>
                        <ul>
                            <li> <h4 style="font-family: Arial; font-weight: bold"> 737 family</h4></li>
                            <h5 style="font-family: 'Times New Roman'"> Každý kdo letěl alespoň tři krát letadlem, letěl minimálně jednou 737, je to klasické letadlo, které nikdy v ničem nezklame, pokud mu Boeing neudělá novou generaci, ve všem je výborné jen ty motory by mohli být tišší jelikož mám přecitlivělé uši</h5>
                            <li> <h4 style="font-family: Arial; font-weight: bold"> 320 family</h4></li>
                            <h5 style="font-family: 'Times New Roman'"> 320 je další nejběžnější letadlo po 737 mají vše skoro stejné z pohledu cestujícího, ale kokpit je jiný.Jediné dvě věci co mi na tomto letadle vadí jsou, že je meněí o trošičku než 737 a že jeho ovládíní není úplně řízení, spíš programování letu.</h5>
                            <li> <h4 style="font-family: Arial; font-weight: bold"> 787 dreamliner typ 8 </h4></li>
                            <h5 style="font-family: 'Times New Roman'"> Nejnovější Boeing z konce předminulé dekády, je to středně dlouhé letadlo s širokým trupem a řazení 3-3-3, má krásné velké okna, které bohužel po vzletu letušky automaticky zatemní takže nebe neuvidíte. Jinak má letadlo mnoho nových vychytávak a bylo první, které zavedlo wifi v letadlech. Dále miluji motory tohoto letadla jsou velké skoro bez nějakých těch metrů jak kabina 737. Bohužel při zavedení do provozu letadlo mělo problémy s bateriemi a věcmi v kuchňce, což ho na chvilinku uzemnilo, jinak je to velmi tiché letadlo, které je šetrné k prostředí a není náročné na palivo.</h5>
                            <li> <h4 style="font-family: Arial; font-weight: bold"> 777-200 ER</h4></li>
                            <h5 style="font-family: 'Times New Roman'"> Klasická triple sedmička, která nenadchne, ale ani nezklame, minimálně v mém případě, opět širokotrupé letadlo s prodlouženým doletem a uspořádáním jak v 787, jen starší o 20 let než mladší bráška 787 :D.</h5>
                        </ul>
                    </article>
                    <article>
                        <h2 style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 1.5em" align="center">S kterými aerolinkami jsem letěla?  </h2>
                        <ol>
                            <li style="text-transform: capitalize; font-family: 'Times New Roman'; font-weight: bold"> ČSA </li>
                            <li style="font-family: 'Times New Roman'; font-weight: bold"> Smartwings </li>
                            <li style="text-transform: capitalize; font-family: 'Times New Roman'; font-weight: bold"> Travel Service </li>
                            <li style="text-transform: capitalize; font-family: 'Times New Roman';font-weight: bold "> Wizz Air </li>
                            <li style="text-transform: capitalize; font-family: 'Times New Roman'; font-weight: bold"> Pegasus Airlines </li>
                            <li style="text-transform: capitalize; font-family: 'Times New Roman'; font-weight: bold"> LOT Polish Airlines </li>
                            <li style="text-transform: capitalize; font-family: 'Times New Roman'; font-weight: bold"> Jin Air </li>
                        </ol>
                    </article>
                    <article>
                        <h2 style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 1.5em" align="center">Kam, s kým a na jakém stroji plánuji letět? </h2>
                        <ol>
                            <li style=" font-family: 'Times New Roman'; font-weight: bold"> Korean Air 747-400 a 747-8i do Seoulu</li>
                            <li style="font-family: 'Times New Roman';font-weight: bold"> Qatar Airways 350-900XWB do Dauhá(Doha)</li>
                            <li style="font-family: 'Times New Roman'; font-weight: bold"> Austrian Airlines 767-300 z Vídně do New Yourku</li>
                            <li style="font-family: 'Times New Roman'; font-weight: bold"> Lufthansa 340-600 z Mnichova do LA </li>
                            <li style="font-family: 'Times New Roman'; font-weight: bold"> Volotea 717 z Marseille do Bari</li>
                            <li style="font-family: 'Times New Roman'; font-weight: bold"> Air France 777-300ER z Paříže do Havany</li>
                            <li style="font-family: 'Times New Roman'; font-weight: bold"> All Nippon Airways 380-800 z Tokia do Honullu</li>
                            <li style="font-family: 'Times New Roman'; font-weight: bold"> Delta 757 z Atlanty do San Juan</li>
                        </ol>
                    </article>
                    <div class="flex-container">
                        <div><img src="https://supertravelme.com/wp-content/uploads/2018/04/hawaiisky-765x600.jpg" width="500" height="300"></div>
                        <div><img src="https://i.pinimg.com/originals/9a/88/4f/9a884f18eebced8fc6ff0b7456323e10.jpg" width="500" height="300"></div>
                        <div><img src="https://storage.googleapis.com/boropark24.com/2020/01/3f021d15-lot_polish_airlines_boeing_787-8_sp-lrf_nrt_27944128184_2-400x300.jpg" width="500" height="300"></div>
                        <div><img src="https://www.transservice.sk/new/wp-content/uploads/2014/12/A350-400x300.jpg" height="300" width="500"></div>
                        <div><img src="https://preview.thenewsmarket.com/Previews/LUFT/StillAssets/400x300/493096_v2.JPEG" height="300" width="500"></div>
                        <div><img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Boeing_707-138B_Qantas_Jett_Clipper_Ella_N707JT.jpg" width="500" height="300"></div>
                    </div>
                </main>
            </div>
        </div>

        <h1 style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 1.5em" align="center">Konec stránky, děkuji za tvoji návštěvu ╰(▔∀▔)╯</h1>
        <h2 style="text-transform: uppercase; font-family: 'Times New Roman'"> Odkazy na mé další stránky:</h2>
        <div class="btn-group" role="group" aria-label="Tlačítka">
            <h6 style=" font-weight: bolder;font-family: 'Times New Roman' ">Odkaz na stránku o mě:<a href="index.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Web o Gabi</a></h6>
            <h6 style=" font-weight: bolder;font-family: 'Times New Roman'">Odkaz na mojí stránku o cestování:<a href="Cestování.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Cestování</a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'"> Odkaz na mojí stránku o anime:<a href="Anime.html" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Anime </a></h6>
            <h6 style=" font-weight: bolder;font-family: 'Times New Roman'">Odkaz na stránku o výběru palety:<a href="Paleta.html" class="btn btn-secondary btn-sm ; btn-light" role="button" aria-pressed="true"> Paleta </a></h6>
            <h6 style=" font-weight: bolder;font-family: 'Times New Roman'">Odkaz na stránku s webovým formulářem:<a href="index-formular.php" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Formulář </a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'"> Odkaz do mého repozitáře: <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true" > Repozitář </a></h6>
        </div>
{/block}