{extends layout.latte}

{block title}Web-o-anime{/block}

{block body}
    <main bgcolor="#ebfffb">

        <article><header><h1 align="center" style="color: #3161a3; text-transform: uppercase"> Gabčina stránka o Anime </h1></header></article>

        <div class="text-center" role="group" aria-label="Tlačítka">
            <a href="index.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" >Gabi</a>
            <a href="Letadla.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Letadla</a>
            <a href="Cestování.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Cestování</a>
            <a href="Anime.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Anime </a>
            <a href="Paleta.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Paleta </a>
            <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" > Repozitář </a>
        </div>
        <hr>
        <div class="obsah">
            <div class="leva-strana">
                <main>
                    <article>
                        <p style="text-transform: uppercase; font-size: large; color: #3161a3; font-family: Arial; font-size: 4em"> Přemýšlím nad obsahem :/ </p>
                    </article>
                </main>
            </div>
        </div>
        <hr>
        <div class="btn-group" role="group" aria-label="Tlačítka">
            <h6 style=" font-family: 'Times New Roman'"> Odkaz na stránku o mě:<a href="index.html" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Web o Gabi </a></h6>
            <h6 style=" font-family: 'Times New Roman' ">Odkaz na mojí stránku o letadlech:<a href="Letadla.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Letadla</a></h6>
            <h6 style=" font-family: 'Times New Roman'">Odkaz na mojí stránku o cestování:<a href="Cestování.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Cestování</a></h6>
            <h6 style=" font-family: 'Times New Roman'">Odkaz na stránku o výběru palety:<a href="Paleta.html" class="btn btn-secondary btn-sm ; btn-light" role="button" aria-pressed="true"> Paleta </a></h6>
            <h6 style=" font-family: 'Times New Roman'"> Odkaz do mého repozitáře: <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true" > Repozitář </a></h6>
        </div>
{/block}