*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}

header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.obsah {
    display: flex;
    flex-direction: row;
}

main {
    padding: 3px 3px 3px 3px;
    margin-bottom: 3px;
    background: #ebfffb;
}
article {
    background: #7efaff;
    border: 3px solid #13abc4;
    margin-bottom: 3px;
}

.leva-strana {
    display: flex;
    flex-direction: column;
}

.box {
    margin: 2px auto 3px;
    color: #3161a3;
    font-size: 50px;
    text-align: center;
    padding: 5px;
    width: 250px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
.flex-container{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-evenly;
    flex-direction: row;
}


.box4-3 { background: #47e1ff;}
.box5-3 { background: #953cce;}
.boxletadlooooo { background: #2bdc73;}
.boxkoala { background: #ff9900;}
.boxnudle { background: #0c262b; }
.box2krát3 { background: #9e8f0a;}
.boxexpz49 { background: #ff0000;}
.box5plus3 { background: #5347ff;}
.boxdoggo { background: #cadb00;}
.boxkyojuro { background: #ff008d;}

.obal{
    display: flex;
    border: 5px solid black;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}