*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}

header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.obsah {
    display: flex;
    flex-direction: row;
}

main {
    padding: 3px 3px 3px 3px;
    margin-bottom: 3px;
    background: #ebfffb;
}
article {
    background: #7efaff;
    border: 3px solid #13abc4;
    margin-bottom: 3px;
}

.leva-strana {
    display: flex;
    flex-direction: column;
}