.box {
    margin: 2px auto 3px;
    color: #ff008d;
    font-size: 50px;
    text-align: center;
    padding: 5px;
    width: 250px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.box4-3 { background: #47e1ff;  font-size: 50px }
.box5-3 { background: #953cce;  font-size: 75px }
.boxletadlooooo { background: #2bdc73;  font-size: 60px }
.boxkoala { background: #ff9900;  font-size: 33px}
.boxnudle { background: #0c262b;  font-size: 30px }
.box2krát3 { background: #9e8f0a;  font-size: 49px}
.boxexpz49 { background: #ff0000;  font-size: 17px}
.box5plus3 { background: #5347ff;  font-size: 51px}
.boxdoggo { background: #cadb00;  font-size: 22px}
.boxkyojuro { background: #ff008d; font-size: 58px}

.obal{
    display: flex;
    border: 5px solid black;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}