{extends layout.latte}

{block title}Web o Gabi - Hra 2048{/block}

{block body}
    <link rel="stylesheet" href="{$basePath}/css/styly-2048.css">
    <hr>
    <p id="score"></p>
    <div id="size-bloc">
        <p id="size-title" style="font-size:30px; color: #3161a3; font-weight: bold; font-family: 'Cambria Math' ">Size : </p>
        <input id="size" type="number" value="4" style="font-size: 25px; color: purple">
        <input id="change-size" type="button" value="Ok" style="font-size: 25px; font-weight: bold; color: #3161a3">
        <div class="clear"></div>
    </div>

    <h3 style="font-family: Impact; font-size: 25px; color: purple" align="center"> Hra se ovládá šipkami na tvé klávesnici </h3>
    <h3 style="font-family: Impact; font-size: 25px; color: purple" align="center"> Tvůj cíl je se dostat k 11. mocnině čísla 2 což je číslo 2048 </h3>
    <h3 style="font-family: Impact; font-size: 25px; color: purple" align="center"> Hodně štěstí ! </h3>

    <div id="canvas-block">
        <canvas id="canvas" width="500" height="500"></canvas>
    </div>
    <script src="{$basePath}/js/hra2048.js"></script>

    <h3 align="center" style="font-size: 25px; color: purple; font-family: Impact"> Při prohře stiskni F5 a můžeš hrát znovu ! </h3>

    <h3 style="font-weight: bolder; font-size: 25px; font-family: 'Cambria Math'; color: #3161a3" align="center"> Tato hra byla vytvořena za pomocí tutoriálu od <a href="https://www.youtube.com/watch?v=tveTp3w3Wsg">amadevBox video </a></h3>
    <h3 style="font-weight: bolder; font-size: 25px; font-family: 'Cambria Math'; color: #3161a3" align="center"> Zde je odkaz na Git s kódem, který byl vytvářen ve videu, tento kód lze najít i v popisku videa <a href="https://github.com/amadevBox/2048"> amadevBox Git</a> </h3>

    <hr>
{/block}