{extends layout.latte}

{block title}Web o Gabi - Domovská stránka{/block}

{block body}
    <article><header><h1 align="center" style="color: #3161a3; text-transform: uppercase"> Hlavní stránka </h1></header></article>
    <hr>
    <div class="obsah">
        <div class="leva-strana">
            <main>
                <h1 style="text-transform: uppercase; color: #3161a3;"> Citace:</h1>
                <h3 style="font-family: Arial; align-content: center">"Nemusíte býti dobří na začátku, ale musíte začít, abyste byli dobří."</h3>
                <h4 style="text-transform: capitalize; align-content: center"> Autor: Zig Ziglar</h4>
                <hr>
                <h1 style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 2em ;"align="center"> Ahoj, já se jmenuji Gabča a toto je web, kde vám o sobě stručně povyprávím (￣ω￣)/ </h1>
                <article>
                    <h2 style="color: #3161a3; text-transform: uppercase; font-family: Arial;font-size:1.5em;" align="center">Jaká si myslím, že jsem? </h2>
                    <h4 style="font-family: 'Times New Roman'"> Myslím si, že jsem milá, pokud se ke mně někdo nechová vysloveně naopak.Jsem citlivá, protože vnímám věci okolo sebe více než ostatní a ano souvisí to s mými emocionálními výkyvy. Jsem agresivní a pyšný originální tvor, což znamené, že když mě někdo naštve jdu se klidně bezhlavě prát a originální, protože jsem prostě a jednoduše vodnář - ya that´s it. Jsem kreativní baví mě vytvářet nové věci, baví mě kreslit a tvořit nové postavy jak do svých příběhů, nebo jiných známých příběhů (anime,manga, seriály západní produkce atd...)</h4>
                </article>
                <article>
                    <h2 style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 1.5em;" align="center" > Co jsou moje koníčky ?</h2>
                    <h4 style="font-family: 'Times New Roman'"> Ráda vařím a peču, velmi mě to baví, hlavně kvůli tomu, abych mělo jídlo na internát, jelikož Jílovka není extra moc poživatelná -heh(i kdyby mi drželi nůž u krku svůj názor nezměním). Baví mě hrát hry, i když už na to není tolik času kolik ho bývávalo, ale když je čas a chut´ tak se náramně bavím :D.  Miluji letecký průmysl, takže mě baví zkoumání letadel a učení se o nich víc celkově (Kéž by stále platilo pravidlo, if ain´t Boeing I ain´t going XD). K tomu se váže můj další koníček- cestování. Moc ráda cestuji jak po Evropě tak i po světě, moje poslední destinace byla Jižní Korea a bylo to úžasné ＼(￣▽￣)／ </h4>
                </article>
                <article>
                    <h2 style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 1.5em; align-content: center" align="center" > Hudba </h2>
                    <h4 style=" font-family: 'Times New Roman'"> Myslím si, že každý z nás byl ve svém životě nějak ovlivněm hudbou a měli jsme takové své "fáze", proto chci ve zkratce říct něco o těch mých.</h4>
                    <h4 style="font-family: 'Times New Roman'"> Moje první fáze hodně napomohla mým názorům vůči jinak orientovaným lidem, jinak řečeno pomohla mi být restpektujícím člověkem a podporovatelem LGBTQ+ komunity, tato fáze patřily hlavně t.A.T.u. a Lady Gaga, obě miluji dodnes, jejich písničky byly neustále na mém playlistu, a je tomu i tak nadále (￣▽￣).</h4>
                    <h4 style=" font-family: 'Times New Roman'"> Moje druhá fáze byla doslova mix všeho co vyšlo mezi rokem 2009-2015, tato fáze mi trochu rozhodila osobnost, protože to byla všehochut´ , šlo to pop písniček k rapu, potom latině, potom k-pop a j-pop (v té době jsem ani netušla, že takové žánry mají název a že vlastně vůbec existují) a končilo to rockem a metalem. Což znamenalo, že jsem si šla přes všecno a bylo to nejspíš i kvůli pocitu, že jsem chtěla v nějakém směru paovat všude.Ale musím říct , že to byla taková "zlatá" éra pro mě ve směru hudby, protože to bylo snad naposled, kdy mi vše nepřišlo na stejné brdo (╯_╰).</h4>
                    <h4 style=" font-family: 'Times New Roman'"> Moje třetí významná fáze je ta momentální-Poslouchám jen své oblíbená žánry a umělce, rozšiřuju si přes texty svoje znalosti angličtiny a jiných jazyků a to nejdůležitější už mě nějak s prominutím nesere, zda se mojí oblíbenci nebo hudba celkově někomu líbí nebo ne.</h4>
                    <h4 style=" font-family: 'Times New Roman'"> Hudba může skoro až dokonale vyjadřovat naše city a emoce, je to něco co nepotřebuje jazyk k porozumnění je to co cítíme. Je to melodie co nás drží v tempu, je to melodie, která v nás může vyvolat cílené pocity, je to vlastně vše co nedokážeme vyjádřit slovy a to je ten důvod proč hudbu tolik miluji.</h4>
                </article>
                <article>
                    <h2 style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 1.5em; align-content: center" align="center">Kreslení</h2>
                    <h4 style=" font-family: 'Times New Roman'"> Kreslení je jedeno z mých oblíbených koníčků, kreslím už od školky, nějaké zlepšení v mé tvorbě nastalo, ale už nemám tak široký záběr věcí co umím nakreslit, dnes kreslím pouze postavy a různé oděvy, ostatní věci se zasekli na úrovni před 8 lety. Ráda kreslím nějaké fanarty na různé seriály a anime, protože mě to vážně baví, ale bylo by fajn, abych nabrala více sebevědomí a byla to schopná nějak publikovat, většina věcí totiž zůstane jen v počítači, nebo na papíře schované v poličce. Jen tak mimochodem co je v počítači to za mého života nebude nikdy dokončeno.  </h4>
                </article>
                <article>
                    <h2 style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 1.5em;" align="center" >Zvířátka</h2>
                    <h4 style="font-family: 'Times New Roman'; font-size: 1.5em"> Mám velmi ráda zvířátka, od těch nejmenších až po ty největší, mám je vlastně radši než lidi, někdy mají větší pochopení pro věc než lidi. </h4>
                    <h4 style="font-weight: bold;font-family: 'Times New Roman'"> Přímo miluji tato zvířátka:</h4>

                    <ol>
                        <li> <h5 style="font-weight: bold; font-family: 'Times New Roman'"> Koaly (všechny, i když jich není extra moc druhů a teď trpěli, kvůli požárům v Austrálii (∪｡∪)｡｡｡zzZ)</h5></li>
                        <h4><img src="https://images.wallpaperscraft.com/image/koala_branch_animal_104744_800x600.jpg"></h4>
                        <li> <h5 style="font-weight: bold; font-family: 'Times New Roman'"> Kočky (Hlavně dlouhosrsté typy jako Birma, Birmy hlavně kvůli jejich intelektu miluji (=^･ω･^=))</h5></li>
                        <h4><img src="https://modralentilka.wbs.cz/p8118886.jpg"></h4>
                        <li> <h5 style="font-weight: bold; font-family: 'Times New Roman'"> Psy (Od Corgiho, Shibíka až po takové ty takzvané flekaté "šmudly", každé plemeno je v něčem úžasné ∪･ω･∪)</h5></li>
                        <h4><img src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2016/03/10093020/dog-products-for-spring-800x600.jpg"></h4>
                        <li> <h5 style="font-weight: bold; font-family: 'Times New Roman'"> Delfíny (Kdo by je nemiloval, jsou chytří, přátelští a neustále se usmívají (°))<<</h5></li>
                        <h4><img src="https://images.wallpaperscraft.com/image/dolphin_underwater_mammal_107358_800x600.jpg"></h4>
                        <li> <h5 style="font-weight: bold; font-family: 'Times New Roman'"> Pandy ( Jsou vzácné a potřebují lásky a to njdůležitější, když jsou víc jak dvě pandy u sebe, tak nastává absolutní chaos(◕‿◕✿))</h5></li>
                        <h4><img src="https://i1.wp.com/21stoleti.cz/wp-content/uploads/panda-9031.jpg?fit=800%2C600&ssl=1"></h4>
                        <li> <h5 style="font-weight: bold; font-family: 'Times New Roman'"> Prasátka (Takové ty malé, nejlépe pruhované (*≧ω≦*))</h5></li>
                        <h4><img src="https://images.wallpaperscraft.com/image/pig_little_pig_countryside_hooves_close_up_face_78678_800x600.jpg"></h4>
                        <li> <h5 style="font-weight: bold; font-family: 'Times New Roman'"> Králíky (Jsou fluffy a hopsají ／(^ × ^)＼- takže jak je nejde nemilovat, i když jsou lidé co je milují na talíři (╥﹏╥)) </h5></li>
                        <h4><img src="https://www.zoochleby.cz/uploads/images/6129/large/003370-6129.jpg"></h4>
                        <li> <h5 style="font-weight: bold; font-family: 'Times New Roman'"> Tučňáky (Jsou malý, roztomilý, celkem chytří a hlavně unikátní, snad ve všem v mých očích (￣▽￣*)ゞ)</h5></li>
                        <h4><img src="https://www.penguinsworld.cz/img/original/12/tucnak-krouzkovy.jpg"></h4>
                    </ol>
                </article>
                <article>
                    <ul>
                        <h2 style="font-weight: bold;text-transform: uppercase; font-family: Arial; font-size: 1.5em"align="center"> Moje oblíbená jídla </h2>
                        <li> <h4 style=" font-family: 'Times New Roman'"> Nudle</h4></li>
                        <li> <h4 style="font-family: 'Times New Roman'"> Pizza</h4> </li>
                        <li><h4 style=" font-family: 'Times New Roman'"> Makarony se sýrem </h4></li>
                        <li> <h4 style=" font-family: 'Times New Roman'"> Zapečené těstoviny</h4></li>
                        <li> <h4 style=" font-family: 'Times New Roman'"> Zeleninová směs s rýží </h4></li>
                        <li> <h4 style=" font-family: 'Times New Roman'"> Kimchi fried rice </h4></li>
                        <li> <h4 style=" font-family: 'Times New Roman'"> Tuňákový salát</h4></li>
                        <li> <h4 style=" font-family: 'Times New Roman'"> Vanilková zmrzlina</h4></li>
                        <li> <h4 style=" font-family: 'Times New Roman'"> Oreo </h4></li>
                        <li> <h4 style=" font-family: 'Times New Roman'"> Brownies </h4></li>
                    </ul>
                </article>
            </main>
        </div>
    </div>

    <h1 align="center" style="font-family: Arial; font-size: 1.5em; text-transform: uppercase; font-weight: bold; color: #3161a3"> Piškvorky </h1>
    <p style="font-size: 1.5em" align="center"> <a href="{link piskvorky}"> Piškvorky </a> </p>

    <h1 align="center" style="font-family: Arial; font-size: 1.5em; text-transform: uppercase; font-weight: bold; color: #3161a3"> Hra 2048 </h1>
    <p style="font-size: 1.5em"align="center"><a href="{link hra2048}"> Hra 2048 </a></p>

    <h1 align="center" style="font-weight: bold; font-size: 1.5em; text-transform: uppercase; font-family: Arial; color: #3161a3">Test</h1>
    <p style="font-size: 1.5em" align="center"><a href="{link test}"> Test na domácí mazlíčky </a></p>
{/block}