{extends layout.latte}

{block title}Web o Gabi - Kontakt{/block}

{block body}
    <h2>Kontaktní formulář</h2>
    <p>Chcete-li mě kontaktovat přímo z webu, využijte následující formulář.</p>

    <?php
		echo('<p>' . $hlaska . '</p>');
    ?>

    <form class="formular" action="/../src/formular.php" method="post">
        <table>
            <tr>
                <td style="font-weight: bolder; font-size: 1.5em">Vaše jméno</td>
                <td><input name="jmeno" type="text" /></td>
            </tr>
            <tr>
                <td style="font-weight: bolder; font-size: 1.5em">Váš e-mail</td>
                <td><input name="email" type="text" /></td>
            </tr>
            <tr>
                <td style="font-weight: bolder; font-size: 1.5em">Předmět</td>
                <td><input name="predmet" type="text" /></td>
            </tr>
        </table>
        <textarea name="zprava"></textarea><br />
        <br>
        <button type="submit" name="submit" style="font-size: 1em">Odeslat</button>
        <br>
{/block}