<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{$basePath}/css/styly.css">

    <link rel="shortcut icon" href="{$basePath}/Gabi-icon.png" type="image/x-icon">
    <link rel="icon" href="{$basePath}/Gabi-icon.png" type="image/x-icon">

    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}

    <table>
        <tr>
            <th> stránka o Gabi</th>
            <th> stránka o letadlech</th>
            <th> stránka o cestování</th>
            <th> stránka o anime</th>
        </tr>
        <tr>
            <td> stránka o mě - </td>
            <td> moje oblíbená letadla - </td>
            <td> mé oblíbené destinace - </td>
            <td> jak jsem se dostala k anime - </td>
        </tr>
        <tr>
            <td> stránka o hobby - </td>
            <td> moje oblíbené aerolinky - </td>
            <td> oblíbené věci o cestování - </td>
            <td> mé zkušenosti s anime - </td>
        </tr>
        <tr>
            <td> stránka o zvířatech - </td>
            <td> typy na kterých chci letět - </td>
            <td> země co chci navštívit - </td>
            <td> oblíbené anime seriály - </td>
        </tr>
    </table>
    <hr>
    <div class="text-center" role="group" aria-label="Tlačítka">
        <a href="{link index}" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" >Gabi</a>
        <a href="{link letadla}" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Letadla</a>
        <a href="{link cestovani}" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Cestování</a>
        <a href="{link anime}" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Anime </a>
        <a href="{link paleta}" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Paleta </a>
        <a href="{link kontakt}" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Formulář </a>
        <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" > Repozitář </a>
    </div>
    <hr>
</head>
<body>
    <div class="page">
        <div class="container">
            {include body}
        </div>
    </div>
    <footer>
        <h1 style="color: #3161a3; font-family:Arial;font-size: 1.5em; text-transform: uppercase">Konec stránky o mě, pod tímto jsou odkazy ╰(▔∀▔)╯</h1>
        <div class="btn-group" role="group" aria-label="Tlačítka">
            <h6 style="font-weight: bolder ;font-family: 'Times New Roman' ">Odkaz na mojí stránku o letadlech:<a href="{link letadla}" class="btn btn-secondary btn-sm active  btn-light" role="button" aria-pressed="true">Letadla</a></h6>
            <h6 style=" font-weight: bolder;font-family: 'Times New Roman'">Odkaz na mojí stránku o cestování:<a href="{link cestovani}" class="btn btn-secondary btn-sm active  btn-light" role="button" aria-pressed="true">Cestování</a></h6>
            <h6 style=" font-weight: bolder;font-family: 'Times New Roman'"> Odkaz na mojí stránku o anime:<a href="{link anime}" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Anime </a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'">Odkaz na stránku o výběru palety:<a href="{link paleta}" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Paleta </a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'">Odkaz na stránku s webovým formulářem:<a href="{link kontakt}" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Formulář </a></h6>
            <h6 style="font-weight: bolder; font-family: 'Times New Roman'"> Odkaz do mého repozitáře: <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true" > Repozitář </a></h6>
        </div>
        2020 Gabriela Stibůrková
    </footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>