{extends layout.latte}

{block title}Web o Gabi - Paleta{/block}

{block body}
    <hr>
    <div class="obsah">
        <div class="leva-strana">
            <main>
                <h2 align="center" style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 2em"> Proč jsem si vybrala paletu číslo 136330 ?</h2>
                <article>
                    <p style="font-family: 'Times New Roman'; font-size: 1.5em"> Tuto paletu jsem si vybrala, protože měla barvy mě vyhovující. Zadalší byla orientovana do modra, což se hodí jak k mé osobě tak i k dalším postránkám. K podstránkám se hodí protože letadla a cestování mají pro mě jeden společný bod a to je vzduch, pokud někam jdu tak snad vždy vzdušnou cestou.Posledně šla z hezké svělé bílomodré barvy do tmavě modré, což se mi prostě líbí.</p>
                </article>
                <h2 align="center" style="color: #3161a3; text-transform: uppercase;font-size: 2em; font-family: Arial"> Kde jsem si tuto paletu našla ?</h2>
                <article>
                    <p style="font-family: 'Times New Roman'; font-size: 1.5em"> No celkem jednoduše, podle vašeho doporučení na Color-Hunt při projíždění níž a níž :D</p>
                </article>
                <h2 align="center" style="text-transform: uppercase; color: #3161a3;font-family: Arial; font-size: 2em "> Odkaz na mojí vybranou paletu barev</h2>
                <article>
                    <a href="https://colorhunt.co/palette/136330" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Odkaz na Color-Hunt paletu</a>
                </article>
            </main>
        </div>
    </div>
    <hr>
{/block}