{extends layout.latte}

{block title}Web o Gabi - Piškvorky{/block}

{block body}
    <link rel="stylesheet" href="{$basePath}/css/styly-piskvorky.css">
    <h1>Piškvorky</h1>

    <table id="deska">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <script src="{$basePath}/js/piskvorky-hra.js"></script>
    <script src="{$basePath}/js/piskvorky-tah.js"></script>
{/block}