{extends layout.latte}

{block title} Vyhodnocení testu na mazlíčky z Webu o Gabi {/block}

{block body}

    <h1 style="font-size: 1.em; font-family: 'Times New Roman'; font-weight: bold; color: #3161a3" align="center">Vyhodnocení testu je následující: </h1>
    <br>
    <h3 style="font-weight: bolder; font-size: 1.5em; font-family: Arial" align="center"> Výsledek tvého testu je {$body}/10.</h3>
    <br>
    <h3 style="font-family: 'Times New Roman'; font-size: 1.5em; color: #3161a3; font-weight: bolder"> Gratuluji !</h3>

{/block}