{extends layout.latte}

{block title} Test-Web k vyuce{/block}

{block body}

    <h1 style="align-content: center; font-weight: bold">Test</h1>
    <p style="align-content: center; font-weight: bold; font-size: 2.5em"> Domácí mazlíčci </p>

    <form method="post" action="{link test-vyhodnoceni}">
        <h2 style="align-content: center; font-weight: bolder; font-size: 1.5em">Má pes pes slepé střevo?</h2>
        <input type="radio" id="1a" name="1" value="a" required>
        <label for="1a"> Ne, pes nemá slepé střevo. </label>
        <input type="radio" id="1b" name="1" value="b" required>
        <label for="1b">Ano, pes má slepé střevo. </label>
        <input type="radio" id="1c" name="1" value="c" required>
        <label for="1c"> Ano, pes má slepé střevo, ale je to vrozená vada.</label>

        <h2 style="align-content: center; font-weight: bolder; font-size: 1.5em">Kolik zvuků umí kočka vydávát ?</h2>
        <input type="radio" id="2a" name="2" value="a" required>
        <label for="2a"> Kočka umí vydávat něco kolem sta zvuků.</label>
        <input type="radio" id="2b" name="2" value="b" required>
        <label for="2b">Kočka umí jen mňaučet,syčet a vrnět.</label>
        <input type="radio" id="2c" name="2" value="c" required>
        <label for="2c"> Kočka umí něco přes 300 různých zvuků.</label>

        <h2 style="align-content: center; font-weight: bolder; font-size: 1.5em">Jak dlouho dokáže leguán zadržet dech ?</h2>
        <input type="radio" id="3a" name="3" value="a" required>
        <label for="3a">Leguán dokáže zadržet dech až na 30 minut.</label>
        <input type="radio" id="3b" name="3" value="b" required>
        <label for="3b">Leguán dokáže zadržet dech až jednu hodinu.</label>
        <input type="radio" id="3c" name="3" value="c" required>
        <label for="3c">Leguán dokáže zadržet dech pouze na pět minut.</label>

        <h2 style="align-content: center; font-weight: bolder; font-size: 1.5em"> Co dokáže křeček udělat ? </h2>
        <input type="radio" id="4a" name="4" value="a" required>
        <label for="4a"> Křeček dokáže mrkat pouze jedním okem.</label>
        <input type="radio" id="4b" name="4" value="b" required>
        <label for="4b"> Křeček dokáže běhat rychlostí 75 km/h.</label>
        <input type="radio" id="4c" name="4" value="c" required>
        <label for="4c"> Křeček dokáže sníst desetinásobek své hmotnosti </label>

        <h2 style="align-content: center; font-weight: bolder; font-size: 1.5em"> Zlatá rybka se dožívá ... ?</h2>
        <input type="radio" id="5a" name="5" value="a" required>
        <label for="5a"> až 40 let.</label>
        <input type="radio" id="5b" name="5" value="b" required>
        <label for="5b"> až 30 let.</label>
        <input type="radio" id="5c" name="5" value="c" required>
        <label for="5c"> až 50 let.</label>

        <h2 style="align-content: center; font-weight: bolder; font-size: 1.5em"> Pásovci jsou jedná zvířata, která mohou dostat ... ?</h2>
        <input type="radio" id="6a" name="6" value="a" required>
        <label for="6a"> Lepru.</label>
        <input type="radio" id="6b" name="6" value="b" required>
        <label for="6b"> Žloutenku.</label>
        <input type="radio" id="6c" name="6" value="c" required>
        <label for="6c"> Koronavirus.</label>

        <h2 style="align-content: center; font-weight: bolder; font-size: 1.5em"> Kde nosí ježek svá mláďata ?</h2>
        <input type="radio" id="7a" name="7" value="a" required>
        <label for="7a"> V ústech </label>
        <input type="radio" id="7b" name="7" value="b" required>
        <label for="7b"> Na svých bodlinách </label>
        <input type="radio" id="7c" name="7" value="c" required>
        <label for="7c"> Na hlavě </label>

        <h2 style="align-content: center; font-weight: bolder; font-size: 1.5em"> Potí se prasata ?</h2>
        <input type="radio" id="8a" name="8" value="a" required>
        <label for="8a"> Ne, mají totiž úplné minimum potových žláz.</label>
        <input type="radio" id="8b" name="8" value="b" required>
        <label for="8b"> Ano, protože ukládájí mnoho tuky a když je teplo tak se přehřívají a potí.</label>
        <input type="radio" id="8c" name="8" value="c" required>
        <label for="8c"> Ne, jelikož nic nedělají a nemají důvod se potit.</label>

        <h2 style="align-content: center; font-weight: bolder; font-size: 1.5em"> Koala umí podle čichu rozeznat ... ?</h2>
        <input type="radio" id="9a" name="9" value="a" required>
        <label for="9a"> Zda jste přítel či nepřítel.</label>
        <input type="radio" id="9b" name="9" value="b" required>
        <label for="9b"> Zda jste čistotní či ne.</label>
        <input type="radio" id="9c" name="9" value="c" required>
        <label for="9c"> Zda jste muž nebo žena.</label>

        <h2 style="align-content: center; font-weight: bolder; font-size: 1.5em"> Ropuchy a žáby nemají na svém těle bradavice a jsou to...?</h2>
        <input type="radio" id="10a" name="10" value="a" required>
        <label for="10a"> stopy po jejich zraněních.</label>
        <input type="radio" id="10b" name="10" value="b" required>
        <label for="10b"> jejich mateřská znaménka.</label>
        <input type="radio" id="10c" name="10" value="c" required>
        <label for="10c"> jejich pupínky podobné lidskému akné.</label>
        <br>
        <br>
        <input type="submit" value="Odeslat" style="font-weight: bolder; font-size: 1.5em">
        <br>
        <br>
    </form>

    <h3 style="align-content: center; font-weight: bolder; font-size: 2.5em"> Zdroje z kterých jsem čerpala na tento test : </h3>
    <h6 style="font-weight: bolder ;font-family: 'Times New Roman' ">První zdroj:<a href="https://ocko.tv/15-zajimavosti-o-zviratech-ktere-jste-urcite-nevedeli.A200228_095650_ocko-clanky_btur" class="btn btn-secondary btn-sm active  btn-light" role="button" aria-pressed="true">Óčko</a></h6>
    <br>
    <h6 style="font-weight: bolder ;font-family: 'Times New Roman' ">Druhý zdroj:<a href="https://www.radaveterinare.cz/clanky/zajimavosti-ze-sveta-zvirat-vite-ze-29" class="btn btn-secondary btn-sm active  btn-light" role="button" aria-pressed="true">Veterina</a></h6>
{/block}