{extends layout.latte}

{block title}Web-o-cestovani{/block}

{block body}
    <main bgcolor="#ebfffb">

        <article><header><h1 align="center" style="color: #3161a3; text-transform: uppercase"> Gabčina stránka o cestování </h1></header></article>

        <div class="text-center" role="group" aria-label="Tlačítka">
            <a href="index.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" >Gabi</a>
            <a href="Letadla.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Letadla</a>
            <a href="Cestování.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Cestování</a>
            <a href="Anime.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Anime </a>
            <a href="Paleta.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Paleta </a>
            <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" > Repozitář </a>
        </div>

        <hr>
        <div class="obsah">
            <div class="leva-strana">
                <main>
                    <hr>
                    <h1 style="color: #3161a3 ;font-family: Arial; font-size: 2em; text-transform: uppercase" align="center"> Ahoj! Vítej na mé stránce o cestování(＾▽＾)</h1>
                    <h3 style="font-size: 1.5em; font-family: Arial; text-transform: uppercase" align="center"> Budou tady informace o mých cestách a nějaké mé osobní doporučení (ᵔ.ᵔ)</h3>
                    <hr>
                    <article>
                        <h2 style="color: #3161a3; font-family: Arial; font-size: 1.5em; text-transform: uppercase"align="center"> Proč zrovna stránka o cestování?</h2>
                    </article>
                    <article>
                        <h2 style="color: #3161a3; font-family: Arial; font-size: 1.5em; text-transform: uppercase" align="center"> Které země jsem už navštívila? </h2>
                    </article>
                    <article>
                        <h2 style="color: #3161a3; font-family: Arial; font-size: 1.5em; text-transform: uppercase" align="center"> Které země bych chtěla navštívit? </h2>
                    </article>
                    <article>
                        <h2 style="color: #3161a3; font-family: Arial; font-size: 1.5em; text-transform: uppercase"align="center"> Jak velká zavazadla používám? A proč díky tomu šetřím na jejich ceně?</h2>
                    </article>
                    <article>
                        <h2 style="color: #3161a3; font-family: Arial; font-size: 1.5em; text-transform: uppercase" align="center"> Jak bych poradila nezkušeným cestovatelům, když se vydají na vlastní pěst? </h2>
                    </article>
                </main>
            </div>
        </div>

        <hr>

        <h1 style="color: #3161a3; font-size: 1.5em; font-family: Arial; text-transform: uppercase" align="center"> Konec stránky o cestování děkuji ti za návštěvu ╰(▔∀▔)╯ </h1>
        <h2 style="font-weight:bold; font-family: 'Times New Roman'; font-size: 1.5em"> Odkazy na další stránky: </h2>
        <div class="btn-group" role="group" aria-label="Tlačítka">
            <h6 style="text-transform: lowercase; font-family: 'Times New Roman'">Odkaz na  stránku o mě:<a href="index.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Web o Gabi</a></h6>
            <h6 style="text-transform: lowercase; font-family: 'Times New Roman'">Odkaz na mojí stránku o letadlech:<a href="Letadla.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Letadla</a></h6>
            <h6 style="text-transform: lowercase; font-family: 'Times New Roman'"> Odkaz na mojí stránku o anime:<a href="Anime.html" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Anime </a></h6>
            <h6 style="text-transform: lowercase; font-family: 'Times New Roman'">Odkaz na stránku o výběru palety:<a href="Paleta.html" class="btn btn-secondary btn-sm ; btn-light" role="button" aria-pressed="true"> Paleta </a></h6>
            <h6 style="text-transform: lowercase; font-family: 'Times New Roman'"> Odkaz do mého repozitáře: <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true" > Repozitář </a></h6>
        </div>
{/block}