{extends layout.latte}

{block title}Web-o-vyberu-palety{/block}

{block body}
    <main bgcolor="#ebfffb">

        <article><header><h1 align="center" style="color: #3161a3; text-transform: uppercase"> Výběr palety </h1></header></article>

        <div class="text-center" role="group" aria-label="Tlačítka">
            <a href="Gabi.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" >Gabi</a>
            <a href="Letadla-nekompletní.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Letadla</a>
            <a href="Cestování-kostra.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true">Cestování</a>
            <a href="Anime.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Anime </a>
            <a href="Paleta.html" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true"> Paleta </a>
            <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-lg active btn-dark" role="button" aria-pressed="true" > Repozitář </a>
        </div>
        <hr>
        <div class="obsah">
            <div class="leva-strana">
                <main>
                    <h2 align="center" style="color: #3161a3; text-transform: uppercase; font-family: Arial; font-size: 2em"> Proč jsem si vybrala paletu číslo 136330 ?</h2>
                    <article>
                        <p style="font-family: 'Times New Roman'; font-size: 1.5em"> Tuto paletu jsem si vybrala, protože měla barvy mě vyhovující. Zadalší byla orientovana do modra, což se hodí jak k mé osobě tak i k dalším postránkám. K podstránkám se hodí protože letadla a cestování mají pro mě jeden společný bod a to je vzduch, pokud někam jdu tak snad vždy vzdušnou cestou.Posledně šla z hezké svělé bílomodré barvy do tmavě modré, což se mi prostě líbí.</p>
                    </article>
                    <h2 align="center" style="color: #3161a3; text-transform: uppercase;font-size: 2em; font-family: Arial"> Kde jsem si tuto paletu našla ?</h2>
                    <article>
                        <p style="font-family: 'Times New Roman'; font-size: 1.5em"> No celkem jednoduše, podle vašeho doporučení na Color-Hunt při projíždění níž a níž :D</p>
                    </article>
                    <h2 align="center" style="text-transform: uppercase; color: #3161a3;font-family: Arial; font-size: 2em "> Odkaz na mojí vybranou paletu barev</h2>
                    <article>
                        <a href="https://colorhunt.co/palette/136330" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Odkaz na Color-Hunt paletu</a>
                    </article>
                </main>
            </div>
        </div>
        <hr>
        <h1 style="color: #3161a3;">Konec stránky o mě, pod tímto jsou odkazy ╰(▔∀▔)╯</h1>
        <div class="btn-group" role="group" aria-label="Tlačítka">
            <h6 style="text-transform: lowercase; font-family: 'Times New Roman'">Odkaz na stránku o mě:<a href="Gabi.html" class="btn btn-secondary btn-sm ; btn-light" role="button" aria-pressed="true"> Web o Gabi</a></h6>
            <h6 style="text-transform: lowercase; font-family: 'Times New Roman'">Odkaz na mojí stránku o letadlech:<a href="Letadla-nekompletní.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Letadla</a></h6>
            <h6 style="text-transform: lowercase; font-family: 'Times New Roman'">Odkaz na mojí stránku o cestování:<a href="Cestování-kostra.html" class="btn btn-secondary btn-sm active ; btn-light" role="button" aria-pressed="true">Cestování</a></h6>
            <h6 style="text-transform: lowercase; font-family: 'Times New Roman'"> Odkaz na mojí stránku o anime:<a href="Anime.html" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true"> Anime </a></h6>
            <h6 style="text-transform: lowercase; font-family: 'Times New Roman'"> Odkaz do mého repozitáře: <a href="https://bitbucket.org/GabrielaStiburkova/prg-gabca/src/master/" class="btn btn-secondary btn-sm active btn-light" role="button" aria-pressed="true" > Repozitář </a></h6>
        </div>
{/block}