*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}

header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.obsah {
    display: flex;
    flex-direction: row;
}

main {
    padding: 3px 3px 3px 3px;
    margin-bottom: 3px;
    background: #ebfffb;
}
article {
    background: #7efaff;
    border: 3px solid #13abc4;
    margin-bottom: 3px;
}

.leva-strana {
    display: flex;
    flex-direction: column;
}

.box {
    margin: 2px auto 3px;
    color: #3161a3;
    font-size: 50px;
    text-align: center;
    padding: 5px;
    width: 250px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
.flex-container{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-evenly;
    flex-direction: row;
}
.galerie {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
.galerie figure {
    width: 33.33333%;
    font-size: 0;
}
figure img {
    width: 100%;
}